@font-face {
  font-family: 'MyFont';
  src: url('./Gidole-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'MyFont';
}

.line-dotted {
  border-style: dotted;
}

.line-solid {
  border-style: solid;
}

.line-double {
  border-style: double;
}
